<app-navbar (selecionarConteudo)="atualizarConteudo($event)"></app-navbar>
<div>
    <app-inicial *ngIf="conteudoAtual === 'conteudoInicial'"></app-inicial>
    <app-astra *ngIf="conteudoAtual === 'conteudoAstra'"></app-astra>
    <app-breach *ngIf="conteudoAtual === 'conteudoBreach'"></app-breach>
    <app-brimstone *ngIf="conteudoAtual === 'conteudoBrimstone'"></app-brimstone>
    <app-chamber *ngIf="conteudoAtual === 'conteudoChamber'"></app-chamber>
    <app-cypher *ngIf="conteudoAtual === 'conteudoCypher'"></app-cypher>
    
</div>
<router-outlet />
