<app-navbar (selecionarConteudo)="atualizarConteudo($event)"></app-navbar>
<div>
    <app-inicial *ngIf="conteudoAtual === 'conteudoInicial'"></app-inicial>
    <app-astra *ngIf="conteudoAtual === 'conteudoAstra'"></app-astra>
    <app-breach *ngIf="conteudoAtual === 'conteudoBreach'"></app-breach>
    <app-brimstone *ngIf="conteudoAtual === 'conteudoBrimstone'"></app-brimstone>
    <app-chamber *ngIf="conteudoAtual === 'conteudoChamber'"></app-chamber>
    <app-cypher *ngIf="conteudoAtual === 'conteudoCypher'"></app-cypher>
    <app-fade *ngIf="conteudoAtual === 'conteudoFade'"></app-fade>
    <app-gekko *ngIf="conteudoAtual === 'conteudoGekko'"></app-gekko>
    <app-jett *ngIf="conteudoAtual === 'conteudoJett'"></app-jett>
    <app-kayo *ngIf="conteudoAtual === 'conteudoKayo'"></app-kayo>
    <app-killjoy *ngIf="conteudoAtual === 'conteudoKilljoy'"></app-killjoy>
    <app-neon *ngIf="conteudoAtual === 'conteudoNeon'"></app-neon>
    <app-omen *ngIf="conteudoAtual === 'conteudoOmen'"></app-omen>
    <app-phoenix *ngIf="conteudoAtual === 'conteudoPhoenix'"></app-phoenix>
    <app-raze *ngIf="conteudoAtual === 'conteudoRaze'"></app-raze>
    <app-reyna *ngIf="conteudoAtual === 'conteudoReyna'"></app-reyna>
    <app-sage *ngIf="conteudoAtual === 'conteudoSage'"></app-sage>
</div>
<router-outlet />
