<div class="relative bg-cover bg-center h-screen fundo">
    <div class="absolute inset-0 bg-black opacity-50"></div> <!-- Overlay -->
  
    <div class="relative z-10 text-center py-8">
      <h2 class="text-4xl font-bold text-white titulo">Astra Stuff</h2>
    </div>
  
    <div class="relative z-10 flex flex-col md:flex-row items-center justify-around py-8">
      <p class="text-white text-lg w-full md:w-1/2 px-4 fonte">Aqui vai o texto do lado esquerdo</p>
      <div class="w-full md:w-1/2 px-4">
        <img src="https://pbs.twimg.com/media/EvLIBqCXAAUwmBL?format=jpg&name=large" alt="Imagem do lado direito" class="w-full">
      </div>
    </div>
  
    <div class="relative z-10 flex flex-col md:flex-row items-center justify-around py-8">
      <div class="w-full md:w-1/2 px-4">
        <img src="https://pbs.twimg.com/media/EvLIBqCXAAUwmBL?format=jpg&name=large" alt="Imagem do lado esquerdo" class="w-full">
      </div>
      <p class="text-white text-lg w-full md:w-1/2 px-4 fonte">Aqui vai o texto do lado direito</p>
    </div>
  </div>
  