<nav class="bg-gray-800">
  <div class="flex justify-between items-center p-5">
    <div class="flex items-center">
      <div class="bg-white w-12 h-12 mx--15"></div> <!-- Primeira div colada à esquerda -->
    </div>
    <div class="flex items-center space-x-2"> <!-- Container para centralizar as outras divs -->
      <div class="rounded-full bg-white w-12 h-12"></div>
      <div class="rounded-full bg-white w-12 h-12"></div>
      <div class="rounded-full bg-white w-12 h-12"></div>
      <div class="rounded-full bg-white w-12 h-12"></div>
      <div class="rounded-full bg-white w-12 h-12"></div>
      <div class="rounded-full bg-white w-12 h-12"></div>
      <div class="rounded-full bg-white w-12 h-12"></div>
      <div class="rounded-full bg-white w-12 h-12"></div>
      <div class="rounded-full bg-white w-12 h-12"></div>
      <div class="rounded-full bg-white w-12 h-12"></div>
    </div>
  </div>
</nav>
  