<nav class="bg-gray-800">
  <div class="flex justify-between items-center p-5">
    <div class="flex items-center">
      <div class="bg-white w-12 h-12 mx--15"></div> <!-- Primeira div colada à esquerda -->
    </div>
    <div class="flex items-center space-x-2"> <!-- ESSA AQUI Container para centralizar as outras divs -->
      <div class="rounded-full bg-white w-12 h-12 navbar-img img1" (click)="onDivClick('conteudoAstra')"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img2" (click)="onDivClick('conteudoBreach')"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img3"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img4"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img5"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img6"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img7"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img8"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img9"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img10"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img11"></div>
    </div>
    <div class="flex items-center space-x-2"> <!-- ESSA AQUI TBM -->
      <div class="rounded-full bg-white w-12 h-12 navbar-img img12"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img13"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img14"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img15"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img16"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img17"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img18"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img19"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img20"></div>
      <div class="rounded-full bg-white w-12 h-12 navbar-img img21"></div>
    </div>
  </div>
</nav>
  